<div ng-controller="AccountCtrl" ng-init="initData()">
    <div class="page-header">
        <form class="form-inline pull-right">
            <div class="form-group">
                <label >Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <h1>Transactions <small>account: {{ account.name }} {{ account.balance | currency: account.currency_name }}</small></h1>

    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="sort('date')">
                        Date
                        <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('amount')">
                        Amount
                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('transaction_type')">
                        Type
                        <span class="glyphicon sort-icon" ng-show="sortKey=='transaction_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('category_name')">
                        Category
                        <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('comment')">
                        Comment
                        <span class="glyphicon sort-icon" ng-show="sortKey=='comment'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th>
                        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="openTransactionContent(account.id)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Transaction
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="i in transactions|orderBy:sortKey:reverse|filter:search|itemsPerPage:20">
                        <td>{{  }}</td>
                        <td>
                            <span e-form="rowform" e-class="input-sm" e-name="date"
                                  e-required e-datepicker-popup="dd-MMMM-yyyy"
                                  editable-date="i.date">
                                {{ (i.date | date : 'mediumDate') || 'empty'}}
                            </span>
                        </td>
                        <td>
                            <span e-form="rowform" e-class="input-sm" e-name="value"
                                    e-required
                                    editable-number="i.amount" e-min="18" e-step="0.01">
                                {{ i.amount | currency: account.currency_name }}
                            </span>
                        </td>
                        <td>
                            <span e-form="rowform" e-class="input-sm" e-name="type"
                                  onshow="getTransactionTypes()" e-ng-options="c.enum as c.name for c in types"
                                  editable-select="i.transaction_type">
                            {{ i.transaction_type }}
                            </span>
                        </td>
                        <td>
                            <span e-form="rowform" e-class="input-sm" e-name="category_id"
                                    onshow="loadCategories()" e-ng-options="c.id as c.name for c in categories"
                                    editable-select="i.category_id">
                                {{ i.category_name }}
                            </span>
                        </td>
                        <td>
                            <span e-form="rowform" e-class="input-sm" e-name="comment"
                                    editable-text="i.comment">
                                {{ i.comment }}
                            </span>
                        </td>
                        <td>
                            <div class="pull-right">
                                <!-- form -->
                                <form editable-form name="rowform" onbeforesave="saveTransaction($data, i.id)" ng-show="rowform.$visible"
                                      class="form-buttons form-inline">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-primary">
                                        Save
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-xs btn-default">
                                        Cancel
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="rowform.$show()">Edit</button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="deleteTransaction(i.id)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>