<div ng-controller="DashCtrl" ng-init="getAccounts()">
    <div class="page-header">
        <h1>Accounts <small></small>
        <button type="button" class="btn btn-primary pull-right" ng-click="open()">Create account</button>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in accounts">
                    <td>{{  }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.balance | currency: i.currency_name }}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" ng-click="openTransactionContent(i.id)">Add transaction</button>
                        <button type="button" class="btn btn-xs btn-info" ng-click="viewAccount(i.id)">View</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<div ng-show="selected">Selection from a modal: {{ selected }}</div>

    <button ng-click="authenticate('google')">Sign in with Google</button>
</div>